<style>
  body {
      background: linear-gradient(#FEE7FFFF, #EC9595FF);
  }
  li {
    list-style:none;
    display: inline-block;
  }

</style>

  <h1>Tiny App</h1>

  <% if (user) { %>
    <li><a href="/urls"> URLS</a></li> |
    <li><a href="/urls/new">Create New TinyURL</a></li>

    <p>Logged in as: <%= user.email %></p>

    <form class="form-inline" action="/logout" method="POST">
      <button type="submit" class="btn btn-primary">
        Logout
      </button>
    </form>
    <p>

  <% } else { %>
      <li><a href="/register"> Register</a></li> |
      <li><a href="/login"> Login </a></li>
  <% } %>



