<style>
body {
    background: linear-gradient(#FEE7FFFF, #EC9595FF);

}
</style>

  <h1>Tiny App</h1>

  <% if (!username) { %>
    <form action="/login" method="POST">

      <div class="form-group mb-2">
      <label for="exampleInputEmail1">Email:</label>

        <input class="form-control" type="email" name="username" placeholder="Enter your username" style="width: 300px; margin: 1em">

        <button type="submit" class="btn btn-primary">
          Login
        </button>
      </div>
    </form>
  <% } else { %>

    Logged in as: <%= username %>

    <form class="form-inline" action="/logout" method="POST">
      <p>
      <button type="submit" class="btn btn-primary">
        Logout
      </button>
      </p>
    </form>

  <% } %>


