<style>
</style>

<h1>Tiny App</h1>

<% if (!username) { %>
  <form class="form-inline" action="/login" method="POST">
  <div class="form-group mb-2">
    <input class="form-control" type="text" name="username" placeholder="Enter your username" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">
      Login
    </button>
  </div>
<% } else { %>

  Logged in as: <%= username %>

  <form class="form-inline" action="/logout" method="POST">
  <p><button type="submit" class="btn btn-primary">
      Logout
  </button></p>
  </form>

<% } %>

