<style>
body {
    background: linear-gradient(#FEE7FFFF, #EC9595FF);

}
</style>

  <h1>Tiny App</h1>

    Logged in as: <%= user %>

  <form class="form-inline" action="/logout" method="POST">
    <p>
      <button type="submit" class="btn btn-primary">
        Logout
      </button>
    </p>
  </form>




