<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <style>

  </style>


  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">

<header>
    <% include ../views/partials/_header %>
</header>

    <p><li style="list-style: none;">ShortURL: <b><%= shortURL %></b>

    <!-- ARROW  -->
    <span style='font-size:30px;'>&#8594;</span>

    <a href="<%= longURL%>"><%= longURL%></a>

    </li></p>

    <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">

      <div class="form-group mb-2">
        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">

        <button type="submit" class="btn btn-primary">Update</button>

      </div>
    </form>

</body>
</html>

